
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>Anasayfa</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:13%">
        <a href="/Kitap/Anasayfa/"><img src="https://pbs.twimg.com/profile_images/1154707813106618368/W82HkZ-t_400x400.jpg" style="height:130px; width:130px; margin-left:30px;" /></a>
        <a href="/Kitap/Anasayfa/" class="w3-bar-item w3-button">Kitap(Anasayfa)</a>
        <a href="/Kitap/YeniÇıkanKitapSayfa/" class="w3-bar-item w3-button">Yeni Çıkan Kitaplar</a>
        <a href="/Login/GirisYap/" class="w3-bar-item w3-button">Admin Giriş</a>
        <a href="/Üye/YeniÜye/" class="w3-bar-item w3-button">Üye Ol</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:13%">

        <div class="w3-container w3-teal" style="background-color:gray;">
            <h1></h1>
        </div>
        <br />
       

        <div class="w3-container">
          @RenderBody()
        </div>

    </div>
   
   
</body>
</html>
